# List comprehensions & Sets

## Sets

Sets are collections of unique elements in a list. Sets in Python behave in the same way as Sets in mathematics: one can calculate intersection, union, difference etc.

In [1]:
A = set([1,56,4,32,5,4])
print(A)

{32, 1, 4, 5, 56}

In [2]:
B = set([0,56,8,5,109])
print(B)

{0, 5, 8, 109, 56}

In [3]:
A.union(B) # union of sets: unique set of all values in both sets

{0, 1, 4, 5, 8, 32, 56, 109}

In [4]:
A.intersection(B) #intersection of sets: unique values existing in both sets

{5, 56}

In [5]:
A.difference(B) # values only in set A and not in B

{1, 4, 32}

In [6]:
B.difference(A) # values only in set B and not in A

{0, 8, 109}

## Comprehensions (lists and dictionaries)

for and while loops are used to automate processes in Python. Yet they may not be user friendly as a result of long code. Additionaly, they can be slow. Whenever one needs to have a for loop which will yield a list/dictionary in the end, list/dictionary comprehensions may be used instead. They are faster and they allow usage of loops and conditionals (if/else) inside just one line of code.

In [7]:
#list of integers from 1 to 10 created using for loop
int_list = []
for i in range(1,11):
    int_list.append(i)
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#list of integers from 1 to 10 created using list comprehension
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#list of squares of integers from 1 to 10 created using for loop
sqr_list = []
for i in range(1,11):
    sqr_list.append(i*i)
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#list of squares of integers from 1 to 10 created (and saved) using list comprehension
my_square_list = [i*i for i in range(3,15)]

In [11]:
#list of squares of odd integers from 1 to 10 created using for loop
odd_sqr_list = []
for j in range(1,11):
    if j%2!=0:
        odd_sqr_list.append(j**2)
print(odd_sqr_list)

[1, 9, 25, 49, 81]

In [12]:
#list of squares of odd integers from 1 to 10 created using list comprehension
[j**2 for j in range(3,15) if j%2!=0]

[9, 25, 49, 81, 121, 169]

In [13]:
#a sample string to be used in future
#for simplicity assume all names starting with J are males and K - females
names = ["James","Jimmy","Katherine","John","Karen","Kate","Jivan",'Kim']

In [14]:
#for loop to create a list of uppercase names
names_upper = []
for j in names:
    names_upper.append(j.upper())
print(names_upper)

['JAMES', 'JIMMY', 'KATHERINE', 'JOHN', 'KAREN', 'KATE', 'JIVAN', 'KIM']

In [15]:
#list comprehension to create a list of uppercase names
[j.upper() for j in names]

['JAMES', 'JIMMY', 'KATHERINE', 'JOHN', 'KAREN', 'KATE', 'JIVAN', 'KIM']

In [16]:
#for loop to create a list of uppercase female names
woman_names_upper = []
for i in names:
    if i[0]=="K":
        woman_names_upper.append(i.upper())
print(woman_names_upper)

['KATHERINE', 'KAREN', 'KATE', 'KIM']

In [17]:
#list comrehension to create a list of uppercase female names
[i.upper() for i in names if i[0]=="K"]

['KATHERINE', 'KAREN', 'KATE', 'KIM']

In [18]:
#dictionary comrehension for calculating squares of integers between 1 and 10
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [19]:
#dictionary comrehension for calculating squares of odd integers between 1 and 10
{i:i**2 for i in range(1,11) if i%2!=0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [20]:
#dictionary comrehension for making female names uppercase
{i:i.upper() for i in names if i[0]=="K"}

{'Katherine': 'KATHERINE', 'Karen': 'KAREN', 'Kate': 'KATE', 'Kim': 'KIM'}